<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> Saltarelle.Kendo </title>
    @Styles.Render("~/Content/css")
    
    <link href="~/Content/kendo/2014.2.716/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.716/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.716/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.716/kendo.metro.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.716/kendo.dataviz.metro.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.716/kendo.rtl.min.css" rel="stylesheet" />


    
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @*@Styles.Render("~/Content/Kendo")
    @Scripts.Render("~/Script/Kendo")*@


    <script src="~/Scripts/kendo/2014.2.716/jszip.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.716/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.716/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.716/kendo.modernizr.custom.js"></script>


    @Scripts.Render("~/bundles/SaltarrleScripts")




</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Saltarelle.Kendo</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()


    @RenderSection("scripts", required: false)

    
</body>
</html>
